﻿@model SongViewModel

@{
    ViewData["Title"] = "AddMusic";
}
<div class="text-center">

    <h1>AddMusic</h1>
    <form method=POST asp-controller=Song asp-action=AddMusic>
    <br />
    <br />
        <p1>Name</p1>
            <input asp-for="Name" type="text" />
        <p1>Length</p1>
            <input asp-for="Length" type="text"/>
            <br />
            <br />
        <button type="submit" class="btn btn-primary">Muziek Toevoegen</button>
        
    </form>
</div>
