﻿@{
    ViewData["Title"] = "EditMusic";
}

@model List<PresentationLayer.Models.SongViewModel>

<h1>EditMusic</h1>
 
@if(Model.Count < 1)
{
    <label style="font-style:italic">Er zijn geen producten gevonden...</label>
}

<form method="post" asp-controller="Song">
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>            
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Length</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <partial id="partialview" name="MusicRowEdit" model="@item" />
        }
    </tbody>
    </table>

</form>