﻿@model ArtistsSongsViewModel

<div class="text-center">
    <h1>Link Artist To Song</h1>
    <form asp-controller=Song asp-action=LinkArtistToSong method="post">
    <br />
    <br />
        <p1>Artist</p1>
            <input type="hidden" asp-for="Artists" />
            <select asp-for="SelectedArtistID" asp-items="@(new SelectList(Model.Artists, "ID", "Name"))"></select>
        <p1>Song</p1>
            <input type="hidden" asp-for="Songs" />
            <select asp-for="SelectedSongID" asp-items="@(new SelectList(Model.Songs, "ID", "Name"))"></select>
            <br />
            <br />
        <button type="submit" class="btn btn-primary">Koppelen</button>
        
    </form>
</div>


