﻿@{
    ViewData["Title"] = "ListMusic";
}

@model List<PresentationLayer.Models.SongViewModel>

<h1>ListMusic</h1>
 
@if(Model.Count < 1)
{
    <label style="font-style:italic">Er zijn geen producten gevonden...</label>
}

<table class="table table-striped">
<thead class="thead-dark">
    <tr>
        <th class="checkbox_column" scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Length</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <partial id="partialview" name="MusicRowSelect" model="@item" />
    }
</tbody>
</table>

<input type="button" value="Aantal wijzigen" id="EditButton" />
<input type="button" value="Verwijderen" id="DeleteButton"/>