﻿@model ArtistsSongViewModel
@if (Model == null) return;

<h1>Song: @Model.Song.Name</h1>
<p>Lengte: @Model.Song.Length</p>

@if(Model.Artists == null || Model.Artists.Count < 1)
{
    <label style="font-style:italic">Er zijn geen artiesten gevonden...</label>
} else {
    <p>Artiesten:</p>
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Length</th>
            <th scope="col"></th>
        </tr>
    </thead>
        <tbody>
            @if (Model.Artists != null)
            {
                @foreach (var item in Model.Artists)
                {
                    <partial id="partialview" name="ArtistRow" model="@item" />
                }
            }
        </tbody>
    </table>
}