﻿
@{
    ViewData["Title"] = "PlayMusic";
}

<div class="text-center">
    <h1>PlayMusic</h1>
        <input type="text" itemid="musicsearch" name="musicsearch"><br/>
        <input type="submit" class="btn btn-primary" value="Search"><br/>
        <input type="button" class="btn btn-primary" value="Play" onclick="window.open='https://soundcloud.com/pushat/pusha-t-neck-wrist-feat-jay-z?in=pushat/sets/its-almost-dry-1'">
        <input type="button" class="btn btn-primary" value="Pause">
        <input type="button" class="btn btn-primary" value="Skip">
        <input type="button" class="btn btn-primary" value="Repeat">
</div>

