﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MusicStreaming</h1>
    <p>Welcome to the MusicStreaming page</p>
    <div class="d-flex flex-column align-items-center">
        <a asp-controller="Song" asp-action="PlayMusic" class="btn btn-primary">Play music</a>
        <br/>
        <br/>
        <a asp-controller="Song" asp-action="AddMusic" class="btn btn-primary">Add Music</a>
        <br/>
        <br/>
        <a asp-controller="Song" asp-action="ListMusic" class="btn btn-primary">List Music</a>
        <br/>
        <br/>
        <a asp-controller="Song" asp-action="LinkArtistToSong" class="btn btn-primary">Link artist to song</a>
        <br/>
        <br/>
        <a asp-controller="Artist" asp-action="AddArtist" class="btn btn-primary">Add Artist</a>
     </div>
</div>
