﻿@model ArtistViewModel

@{
    ViewData["Title"] = "AddArtist";
}

<div class="text-center">

    <h1>Add artist</h1>
    <form method=POST asp-controller=Artist asp-action=AddArtist>
    <br />
    <br />
        <p1>Name</p1>
            <input asp-for="Name" type="text" />
        <p1>Age</p1>
            <input asp-for="Age" type="text"/>
            <br />
            <br />
        <button type="submit" class="btn btn-primary">Artiest toevoegen</button>
        
    </form>
</div>