﻿@model PresentationLayer.Models.SongsArtistViewModel
@if (Model == null) return;

<h1>Artiest: @Model.Artist.Name</h1>
<p>Leeftijd: @Model.Artist.Age</p>
 
@if(Model.Songs.Count < 1)
{
    <label style="font-style:italic">Er zijn geen songs gevonden...</label>
} else {
    <p>Songs:</p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Length</th>
                <th scope="col">Acties</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Songs) {
            ArtistSongViewModel songArtist = new ArtistSongViewModel(Model.Artist, item);
            <partial id="partialview" name="MusicRowByArtist" model="@songArtist" />
        }
    </tbody>
    </table>
}