﻿@{
    ViewData["Title"] = "ListArtist";
}

@model List<PresentationLayer.Models.ArtistViewModel>

<h1>ListArtist</h1>
 
@if(Model.Count < 1)
{
    <label style="font-style:italic">Er zijn geen producten gevonden...</label>
}

<table class="table table-striped">
<thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <partial id="partialview" name="ArtistRow" model="@item" />
    }
</tbody>
</table>