﻿@model PresentationLayer.Models.ArtistViewModel
<tr>
    <td>@Model.ID</td>
    <td>@Model.Name</td>
    <td>@Model.Age</td>
    <td scope="row">
        <a asp-controller="Artist" asp-action="ListSongsByArtist" asp-route-artistId=@Model.ID><button>Check Songs</button></a>
    </td>
</tr>
