﻿@model PresentationLayer.Models.SongViewModel
<tr>
    <td scope="row" class="checkbox_column">
        <input type="checkbox" name="musicCheckbox" value="@Model.ID"/>
    </td>
    <td>@Model.ID</td>
    <td>@Model.Name</td>
    <td>@Model.Length</td>
    <td>
        <a asp-controller="Song" asp-action="ListArtistsbySong" asp-route-songId="@Model.ID">
            <button>Bekijk artiesten</button>
        </a>
    </td>
</tr>