﻿@model PresentationLayer.Models.SongViewModel

<form asp-controller="Song" asp-action="EditMusic" method="post">
    <tr>
        <td>
            <input asp-for="ID" type="hidden" />
            <input asp-for="ID" type="number" disabled />
        </td>
        <td>
            <input asp-for="Name" type="text"/>
        </td>
        <td>
            <input asp-for="Length" type="number"/>
        </td>
        <td>
            <input type="submit" />
        </td>
    </tr>
</form>