﻿@model PresentationLayer.Models.ArtistSongViewModel
<tr>
    <td>@Model.Song.ID</td>
    <td>@Model.Song.Name</td>
    <td>@Model.Song.Length</td>
    <td>
        <form method="post">
            <button asp-controller="Artist"  asp-action="UnlinkSongFromArtist" asp-route-artistId=@Model.Artist.ID asp-route-songId=@Model.Song.ID>Unlink artist from song</button>
        </form>
    </td>
</tr>